/**********Generell**********/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

img{
    width:100%
}

/**********Main Style**********/

/*---------Area1---------*/

main{
    display: grid;
    grid-auto-rows: 8.33333vh;
    height: 80vh;
    width: 80vh;
    align-items: center;
    justify-items: center;
}

.resize{
    border: 2px solid;
    padding: 20px; 
    min-width: 10vw;
    max-width: 20vw;
    resize:horizontal;
    overflow: auto;
}

#player{
    width: 50%;
    height: 50%;
    background-color: green;
    transition: all 1s;
}

.things{
    width: 50%;
    height: 50%;
}

#flex{
    display: flex;
}

/**********Imports**********/

/**********Keyframes**********/

/**********Responsive**********/

/**********Variables**********/
:root {
    --maincolor: red
}